@charset "utf-8";

/* CSS Document */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffff;
  }
  
  #container {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 50px 0;
    animation: fadeIn 2s ease-in;
  }
 #datos{
    margin-top: 50px;

 }

  #imagen {
    max-width: 180px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    animation: fadeIn 2s ease-in;
  }
  
  h1 {
    margin: 20px 0;
    color: #323e4f;
    letter-spacing: 2px;
    font-size: 3em;
    animation: fadeIn 2s ease-in;
  }
  
  h2 {
    margin: 10px 0;
    color: #293342;
    font-size: 2.5em;
    animation: fadeIn 2s ease-in;
  }
  
  p {
    color: #293342;
    max-width: 1100px;
    margin: 20px auto;
    line-height: 1.2;
    font-size: 1.5em;
    animation: fadeIn 2s ease-in;
  }

  ul {
    text-align: justify;
    max-width: 570px;
    margin: 10px auto;
    padding: 0;
    text-decoration: none;
    animation: fadeIn 2s ease-in;
  }
  
  ul li {
    margin-bottom: 10px;
    font-size: 1.5em;
    animation: fadeIn 2s ease-in;
    color: #293342;
  }
  
  #reintentar {
    margin-top: 5%;
    padding: 20px 40px;
    background-color: #29c36a;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.2s;
    border-radius: 4px;
    font-size: 2em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    animation: fadeIn 2s ease-in;
    font-weight: 600;
  }
  
  #reintentar:hover {
    background-color: #58e479;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @media (max-width: 600px) {
    #container {
      padding: 20px;
    }
  
    #imagen {
      max-width: 200px;
    }
  
     h1 {
      font-size: 5.5em;
    }
  
    h2 {
      font-size: 4.2em;
    }
  
    p {
      font-size: 3em;
    }
  
    ul {
        width: 100%;
      }
    
    ul li {
      font-size: 3em;
    }
  
    #boton {
      font-size: 3.2em;
    }
  }


  

  