* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px; }

img {
  max-width: 100%;
  height: auto; }

   #ad{

    cursor: pointer;
    width: 150px;
    position: absolute;
    bottom: 0%;
    left: 20%;
    margin: 15% auto 18%;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 20px;

  }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

@media screen and (max-width: 480px) {
  .desktop {
    display: none; } }

.mobile {
  display: none; }

.float-r {
  float: right; }

.float-l {
  float: left; }

.container {
  margin: 0 auto; }

.ul-lst-none {
  list-style-type: none; }

/***** FLEX *****/
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex; }

.f--direction-row {
  -webkit-flex-direction: row;
  flex-direction: row; }

.f--direction-col {
  -webkit-flex-direction: column;
  flex-direction: column; }

.f--justify-ctr {
  -webkit-justify-content: center;
  justify-content: center; }

.f--justify-sb {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.f--justify-sa {
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.f--align-ctr {
  -webkit-align-items: center;
  align-items: center; }

/***** POP FORM *****/
#pop, .popup, .pop, .modal {
  display: none;
  position: absolute;
  top: -65px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.formbox {
  position: relative;
  margin: 0 auto; }
  .formbox .close-pop {
    position: absolute;
    cursor: pointer; }
  .formbox .field input, .formbox .field label {
    display: block;
    width: 100%; }
  .formbox .field input:-webkit-autofill, .formbox .field input:-webkit-autofill:hover, .formbox .field input:-webkit-autofill:focus, .formbox .field input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset; }
  .formbox .field input.edge-autoSuggestFieldFilled {
    background-color: #ffffff !important; }
  .formbox .field input ::-moz-placeholder {
    opacity: 1; }
  .formbox button {
    display: block;
    margin: 0 auto;
    cursor: pointer; }
  .formbox .input {
    position: relative; }
  .formbox .showPW {
    position: absolute;
    right: 50px;
    top: 16px;
    width: 26px;
    height: 19px;
    background-image: url("//main.cdn-img.com/portal/landing_portal/cb/common/img/show.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    cursor: pointer; }
    @media screen and (max-width: 320px) {
      .formbox .showPW {
        top: 13px;
        right: 40px; } }
    .formbox .showPW.show {
      background-image: url("//main.cdn-img.com/portal/landing_portal/cb/common/img/showon.png"); }

/***** RESPONSIVE *****/
@media screen and (max-width: 960px) {
  .hide-md {
    display: none; } }

@media screen and (max-width: 768px) {
  .hide-sm {
    display: none; } }

@media screen and (max-width: 480px) {
  .hide-xs {
    display: none; } }



/***** ERROR *****/
.error {
  display: none;
  color: #ec0909;
  font-size: 14px;
  padding: 2px;
  margin-bottom: 10px !important;
  text-align: left !important; }

.input-error, .input_error {
  border-color: #ec0909 !important;
  margin-bottom: 5px !important; }

.input-ok, .input_ok {
  border-color: #19a620 !important;
  margin-bottom: 5px !important; }

/***** PULSE EFFECT *****/
.pulse {
  -webkit-animation-iteration-count: 3;
  -moz-animation-iteration-count: 3;
  -ms-animation-iteration-count: 3;
  -o-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -webkit-animation-name: pulse;
  -moz-animation-name: pluse;
  -ms-animation-name: pluse;
  -o-animation-name: pluse;
  animation-name: pulse;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.9s;
  -moz-animation-duration: 0.9s;
  -ms-animation-duration: 0.9s;
  -o-animation-duration: 0.9s;
  animation-duration: 0.9s; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1); } }
@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
body {
  font-family: 'Work Sans', Arial, sans-serif;
  /* background: url("//main.cdn-img.com/portal/landing_portal/cb/f021/img/bg.png") top left repeat-x; */
  color: #292929; 

}
  @media screen and (max-width: 992px) {
    body {
      background-size: 100% 500px; } }
  @media screen and (max-width: 768px) {
    body {
      background: black; } }

.overlay {
  display: none;
  position: fixed;
  top: -100px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 3; }
/* 
.section {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ededed;
  padding: 20px; } */

/* header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  -webkit-box-shadow: 0px 1px 11px 0px #a6a6a6;
  -moz-box-shadow: 0px 1px 11px 0px #a6a6a6;
  box-shadow: 0px 1px 11px 0px #a6a6a6; }
  header .player-head {
    padding-top: 0; }
    @media screen and (max-width: 768px) {
      header .player-head {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column; } }
    @media screen and (max-width: 480px) {
      header .player-head {
        padding-bottom: 10px; } }
    header .player-head.section {
      border: none;
      padding-bottom: 10px; }
    header .player-head .head-left .logo-wrapper {
      width: 50px;
      height: auto;
      margin: 10px 20px 0 0; }
      @media screen and (max-width: 480px) {
        header .player-head .head-left .logo-wrapper {
          width: 35px;
          margin: 10px 10px 0 10px; } }
      @media screen and (max-width: 375px) {
        header .player-head .head-left .logo-wrapper {
          width: 25px; } }
    header .player-head .head-left .text-wrapper h1 {
      font-size: 1.8rem;
      margin-top: 10px;
      text-transform: uppercase;
      font-weight: 400; }
      @media screen and (max-width: 480px) {
        header .player-head .head-left .text-wrapper h1 {
          margin-top: 10px;
          font-size: 1.4rem; } }
      @media screen and (max-width: 375px) {
        header .player-head .head-left .text-wrapper h1 {
          font-size: 1.2rem; } }
      @media screen and (max-width: 320px) {
        header .player-head .head-left .text-wrapper h1 {
          font-size: 1.3rem; } }
    header .player-head .head-left .text-wrapper p {
      font-size: 1.2rem;
      margin-bottom: 5px;
      color: #0c5ac2; }
      @media screen and (max-width: 480px) {
        header .player-head .head-left .text-wrapper p {
          font-size: 1rem; } }
      header .player-head .head-left .text-wrapper p span {
        font-weight: bold; }
    @media screen and (max-width: 768px) {
      header .player-head .social-wrapper {
        display: none; } }
    header .player-head .social-wrapper .social-icon {
      margin-top: 15px;
      font-size: 2.5rem;
      cursor: pointer; }
      @media screen and (max-width: 992px) {
        header .player-head .social-wrapper .social-icon {
          float: left; } }
      @media screen and (max-width: 320px) {
        header .player-head .social-wrapper .social-icon {
          font-size: 2rem;
          margin-top: 10px; } }
      header .player-head .social-wrapper .social-icon .fa-facebook {
        color: #3b5998;
        margin-right: 10px; }
      header .player-head .social-wrapper .social-icon .fa-twitter {
        color: #33ccff;
        margin-right: 10px; }
      header .player-head .social-wrapper .social-icon .fa-google-plus-g {
        color: #dd4b39; } */

.container {
  position: relative; }
  @media screen and (max-width: 1200px) {
    .container {
      padding: 0 30px; } }
  @media screen and (max-width: 768px) {
    .container {
      padding: 0; } }
  .container .player-block {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 10px auto 20px;
    background: #000; }
    @media screen and (max-width: 768px) {
      .container .player-block {
        margin-bottom: 50px; } }
    @media screen and (max-width: 480px) {
      .container .player-block {
        margin: 50px auto 0;
        padding-bottom: 50px; } }
    .container .player-block video {
      width: 100%;
      max-width: 1200px; }
      @media screen and (max-width: 1200px) {
        .container .player-block video {
          width: 100%; } }
    .container .player-block .loading {
      display: none;
      position: absolute;
      bottom: 0%;
      left: 40%;
      width: 20%;
      margin: 15% auto 18%;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 20px; }
      @media screen and (max-width: 768px) {
        .container .player-block .loading {
          width: 50%;
          left: 25%; } }
      @media screen and (max-width: 480px) {
        .container .player-block .loading {
          bottom: 0; } 
        #ad{
          left: 0%;
        }

        }
      .container .player-block .loading .connection {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 10px; }
        @media screen and (max-width: 375px) {
          .container .player-block .loading .connection {
            font-weight: normal; } }
        @media screen and (max-width: 320px) {
          .container .player-block .loading .connection {
            font-size: 1.8rem; } }
      .container .player-block .loading .loader {
        position: relative;
        width: 80px;
        height: 80px;
        border: 8px solid currentcolor;
        border-bottom-color: transparent;
        border-radius: 50%;
        -webkit-animation: 1.5s loader linear infinite;
        animation: 1.5s loader linear infinite;
        margin: 20px auto 0; }
        @media screen and (max-width: 480px) {
          .container .player-block .loading .loader {
            width: 60px;
            height: 60px;
            border-width: 6px; } }
        @media screen and (max-width: 375px) {
          .container .player-block .loading .loader {
            bottom: -16%;
            width: 50px;
            height: 50px;
            border-width: 6px; } }
@keyframes loader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
    .container .player-block .btn-pop {
      display: none;
      position: absolute;
      width: 100%;
      text-align: center;
      top: 20%;
      /* background: rgba(0, 0, 0, 0.7); */
      padding: 10px 0 65px; }
      @media screen and (max-width: 768px) {
        .container .player-block .btn-pop {
          top: 5%; } }
      @media screen and (max-width: 480px) {
        .container .player-block .btn-pop {
          top: 0;
          padding: 0; } }
      @media screen and (max-width: 425px) {
        .container .player-block .btn-pop {
          top: 0%; } }
      .container .player-block .btn-pop .btn-pop-content {
        width: 60%;
        margin: 50px auto 0;
        padding: 30px 0;
        border-radius: 6px; }
        @media screen and (max-width: 992px) {
          .container .player-block .btn-pop .btn-pop-content {
            width: 80%; } }
        @media screen and (max-width: 768px) {
          .container .player-block .btn-pop .btn-pop-content {
            width: 90%; } }
        .container .player-block .btn-pop .btn-pop-content p {
          color: #fff;
          font-size: 2rem;
          width: 80%;
          margin: 0 auto 30px;
          line-height: 30px; }
          @media screen and (max-width: 480px) {
            .container .player-block .btn-pop .btn-pop-content p {
              font-size: 1.6rem;
              width: 90%;
              line-height: 25px;
              margin-bottom: 0; } }
          @media screen and (max-width: 425px) {
            .container .player-block .btn-pop .btn-pop-content p {
              font-size: 1.45rem; } }
          @media screen and (max-width: 375px) {
            .container .player-block .btn-pop .btn-pop-content p {
              font-size: 1.3rem;
              width: 100%; } }
          @media screen and (max-width: 320px) {
            .container .player-block .btn-pop .btn-pop-content p {
              font-size: 1.2rem;
              line-height: 22px; } }
        .container .player-block .btn-pop .btn-pop-content button {
          position: relative;
          font-family: 'Work Sans', Arial, sans-serif;
          margin: 30px auto 10px;
          padding: 15px 0;
          width: 70%;
          letter-spacing: 1px;
          color: #fff;
          text-transform: uppercase;
          font-size: 2.2rem;
          font-weight: bold;
          background: #097d17;
          background: -webkit-linear-gradient(bottom, #097d17 0%, #109820 100%);
          background: -o-linear-gradient(bottom, #097d17 0%, #109820 100%);
          background: linear-gradient(to top, #097d17 0%, #109820 100%);
          border: 2px solid #097d17;
          border-radius: 8px; }
          .container .player-block .btn-pop .btn-pop-content button:hover {
            background: #0c911c;
            background: -webkit-linear-gradient(bottom, #0c911c 0%, #15b628 100%);
            background: -o-linear-gradient(bottom, #0c911c 0%, #15b628 100%);
            background: linear-gradient(to top, #0c911c 0%, #15b628 100%); }
          @media screen and (max-width: 992px) {
            .container .player-block .btn-pop .btn-pop-content button {
              font-size: 1.8rem; } }
          @media screen and (max-width: 480px) {
            .container .player-block .btn-pop .btn-pop-content button {
              width: 90%;
              font-size: 1.6rem; } }
          @media screen and (max-width: 425px) {
            .container .player-block .btn-pop .btn-pop-content button {
              font-size: 1.4rem; } }
          @media screen and (max-width: 375px) {
            .container .player-block .btn-pop .btn-pop-content button {
              width: 100%;
              padding: 12px 0;
              margin-top: 15px;
              font-size: 1.2rem; } }
    .container .player-block .controls {
      position: absolute;
      background: transparent;
      bottom: 0;
      width: 100%;
      color: #fff;
      padding-top: 10px; }
      .container .player-block .controls.SamsungBrowser {
        display: none; }
      .container .player-block .controls .meter {
        position: relative;
        width: 100%;
        display: block;
        height: 6px;
        background: rgba(255, 255, 255, 0.2);
        padding: 0;
        margin-top: 16px;
        overflow: hidden; }
        .container .player-block .controls .meter .cursor {
          position: absolute;
          top: 0;
          left: 0;
          background: #0d3e80;
          width: 5px;
          height: 100%; }
        .container .player-block .controls .meter > span {
          position: relative;
          top: -3px;
          display: block;
          width: 100%;
          background: -moz-linear-gradient(top, #faa300 0%, #d17500 100%);
          background: -webkit-linear-gradient(top, #faa300 0%, #d17500 100%);
          background: linear-gradient(to bottom, #faa300 0%, #d17500 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa300', endColorstr='#d17500',GradientType=0 );
          background: #0c5ac2;
          overflow: hidden;
          height: 6px; }
        .container .player-block .controls .meter > span:after {
          content: "";
          position: absolute;
          overflow: hidden; }
        .container .player-block .controls .meter .loading-bar {
          display: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
          @media screen and (max-width: 480px) {
            .container .player-block .controls .meter .loading-bar {
              margin-top: 0; } }
      .container .player-block .controls .ctrl {
        padding: 12px 1.2% 20px;
        cursor: pointer;
        text-align: center;
        font-size: 1.6rem; }
        @media screen and (max-width: 375px) {
          .container .player-block .controls .ctrl {
            padding-bottom: 10px; } }
        @media screen and (max-width: 480px) {
          .container .player-block .controls .ctrl.hidden-xs {
            display: none; } }
        .container .player-block .controls .ctrl .fa-pause, .container .player-block .controls .ctrl .fa-volume-up, .container .player-block .controls .ctrl .fa-expand {
          font-size: 2rem; }
          @media screen and (max-width: 480px) {
            .container .player-block .controls .ctrl .fa-pause, .container .player-block .controls .ctrl .fa-volume-up, .container .player-block .controls .ctrl .fa-expand {
              font-size: 1.6rem; } }
        .container .player-block .controls .ctrl .fa-pause, .container .player-block .controls .ctrl .fa-play {
          margin-left: 20px; }
        .container .player-block .controls .ctrl .fa-expand {
          margin-right: 20px; }
      .container .player-block .controls .time {
        font-size: 1.5rem;
        width: 93px; }
    .container .player-block .popup {
      position: fixed;
      z-index: 3; }
      @media screen and (max-width: 480px) {
        .container .player-block .popup {
          position: absolute;
          top: -15%; } }
      .container .player-block .popup .formbox {
        background: #fff url("//main.cdn-img.com/portal/landing_portal/cb/f021/img/bg-form.png") center bottom no-repeat;
        background-size: 100% auto;
        max-width: 600px;
        margin: 3% auto 0;
        padding: 0 0 100px;
        z-index: 10;
        color: #000;
        border-radius: 6px;
        -webkit-box-shadow: 0px 0px 14px 0px rgba(162, 162, 162, 0.75);
        -moz-box-shadow: 0px 0px 14px 0px rgba(162, 162, 162, 0.75);
        box-shadow: 0px 0px 14px 0px rgba(162, 162, 162, 0.75); }
        @media screen and (max-width: 480px) {
          .container .player-block .popup .formbox {
            padding-bottom: 70px; } }
        @media screen and (max-width: 375px) {
          .container .player-block .popup .formbox {
            padding-bottom: 50px; } }
        .container .player-block .popup .formbox .close-pop {
          position: absolute;
          top: 15px;
          right: 15px;
          width: 15px;
          height: 15px;
          cursor: pointer; }
        .container .player-block .popup .formbox .logo-pop-wrapper {
          width: 10%;
          margin: 5% auto 0; }
        .container .player-block .popup .formbox .head-form {
          margin-bottom: 30px;
          padding-top: 30px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px; }
          .container .player-block .popup .formbox .head-form .icon-wrapper {
            text-align: center; }
            .container .player-block .popup .formbox .head-form .icon-wrapper img {
              width: 59px;
              height: auto; }
          .container .player-block .popup .formbox .head-form .form-title {
            font-size: 3rem;
            padding-bottom: 10px;
            text-align: center;
            padding: 30px 0 20px;
            color: #0c5ac2;
            font-weight: bold; }
            @media screen and (max-width: 480px) {
              .container .player-block .popup .formbox .head-form .form-title {
                font-size: 2.8rem; } }
            @media screen and (max-width: 375px) {
              .container .player-block .popup .formbox .head-form .form-title {
                font-size: 2.2rem;
                padding: 20px 0 25px; } }
            @media screen and (max-width: 320px) {
              .container .player-block .popup .formbox .head-form .form-title {
                font-size: 2.1rem;
                padding-bottom: 15px; } }
            .container .player-block .popup .formbox .head-form .form-title span {
              text-transform: uppercase; }
          .container .player-block .popup .formbox .head-form .form-text {
            margin: 10px 0;
            font-size: 1.8rem;
            text-align: center;
            width: 80%;
            margin: 0 auto 30px;
            color: #686868; }
            @media screen and (max-width: 480px) {
              .container .player-block .popup .formbox .head-form .form-text {
                font-size: 1.8rem; } }
            @media screen and (max-width: 375px) {
              .container .player-block .popup .formbox .head-form .form-text {
                width: 90%;
                margin-bottom: 30px;
                font-size: 1.5rem; } }
            @media screen and (max-width: 320px) {
              .container .player-block .popup .formbox .head-form .form-text {
                font-size: 1.2rem; } }
            .container .player-block .popup .formbox .head-form .form-text span {
              font-weight: bold; }
        .container .player-block .popup .formbox .field {
          width: 80%;
          margin: 0 auto;
          margin-top: 20px;
          padding: 0 10px; }
          @media screen and (max-width: 375px) {
            .container .player-block .popup .formbox .field {
              width: 90%; } }
          .container .player-block .popup .formbox .field label {
            margin: 30px 0 10px;
            font-size: 1.5rem; }
            @media screen and (max-width: 480px) {
              .container .player-block .popup .formbox .field label {
                font-size: 1.4rem; } }
            @media screen and (max-width: 320px) {
              .container .player-block .popup .formbox .field label {
                font-size: 1.2rem; } }
          .container .player-block .popup .formbox .field .input {
            background: #fff;
            border: 1px solid #bfbfbf;
            border-radius: 4px;
            margin-bottom: 30px;
            padding: 15px 15px 15px 20px; }
          .container .player-block .popup .formbox .field input {
            color: #000;
            font-size: 1.5rem;
            text-indent: 10px; }
            @media screen and (max-width: 480px) {
              .container .player-block .popup .formbox .field input {
                font-size: 1.3rem; } }
            @media screen and (max-width: 320px) {
              .container .player-block .popup .formbox .field input {
                font-size: 1.1rem; } }
          .container .player-block .popup .formbox .field .input__icon {
            width: 30px;
            height: 30px;
            background-size: auto 25px;
            background-position: 4% center;
            background-repeat: no-repeat; }
          .container .player-block .popup .formbox .field .input-mail > .input__icon {
            background-image: url("//main.cdn-img.com/portal/landing_portal/cb/f021/img/mail.png"); }
          .container .player-block .popup .formbox .field .input-password > .input__icon {
            background-image: url("//main.cdn-img.com/portal/landing_portal/cb/f021/img/lock.png"); }
          .container .player-block .popup .formbox .field button {
            position: relative;
            font-family: 'Work Sans', Arial, sans-serif;
            margin: 30px auto 10px;
            padding: 15px 0;
            width: 100%;
            letter-spacing: 1px;
            color: #fff;
            text-transform: uppercase;
            font-size: 2.2rem;
            font-weight: bold;
            background: #097d17;
            background: -webkit-linear-gradient(bottom, #097d17 0%, #109820 100%);
            background: -o-linear-gradient(bottom, #097d17 0%, #109820 100%);
            background: linear-gradient(to top, #097d17 0%, #109820 100%);
            border: 2px solid #097d17;
            border-radius: 8px; }
            .container .player-block .popup .formbox .field button:hover {
              background: #0c911c;
              background: -webkit-linear-gradient(bottom, #0c911c 0%, #15b628 100%);
              background: -o-linear-gradient(bottom, #0c911c 0%, #15b628 100%);
              background: linear-gradient(to top, #0c911c 0%, #15b628 100%); }
            @media screen and (max-width: 480px) {
              .container .player-block .popup .formbox .field button {
                width: 100%;
                padding: 15px 5px;
                margin-top: 30px;
                font-size: 2rem; } }
            @media screen and (max-width: 375px) {
              .container .player-block .popup .formbox .field button {
                padding: 12px 5px; } }
            @media screen and (max-width: 320px) {
              .container .player-block .popup .formbox .field button {
                font-size: 1.8rem;
                padding: 13px 5px; } }
  .container .item-content {
    text-align: center;
    padding: 10px 0 30px;
    background: transparent;
    border: none; }
    @media screen and (max-width: 992px) {
      .container .item-content {
        padding: 30px; } }
    @media screen and (max-width: 320px) {
      .container .item-content {
        font-size: 1.3rem; } }
    .container .item-content p {
      font-size: 2.1rem;
      margin-bottom: 10px;
      text-transform: uppercase; }
      @media screen and (max-width: 480px) {
        .container .item-content p {
          font-size: 2rem; } }
      @media screen and (max-width: 375px) {
        .container .item-content p {
          font-size: 1.8rem; } }
      @media screen and (max-width: 320px) {
        .container .item-content p {
          font-size: 1.6rem; } }
    .container .item-content .colorbar {
      height: 5px;
      background: #0c5ac2;
      width: 10%;
      margin: 20px auto; }
      @media screen and (max-width: 480px) {
        .container .item-content .colorbar {
          width: 20%;
          height: 3px;
          margin: 15px auto 10px; } }
    .container .item-content img {
      max-width: 600px; }
      @media screen and (max-width: 768px) {
        .container .item-content img {
          max-width: 100%; } }
  .container .btn2 {
    font-family: 'Work Sans', Arial, sans-serif;
    display: block;
    width: 306px;
    margin: 10px auto 50px;
    text-transform: uppercase;
    font-size: 2.4rem;
    padding: 15px 20px;
    background-image: linear-gradient(to bottom, #3670dc, #2b55a7);
    border: solid 2px #204288;
    color: #fff;
    border-radius: 5px;
    cursor: pointer; }
    @media screen and (max-width: 480px) {
      .container .btn2 {
        font-size: 2.6rem;
        width: 80%; } }
    @media screen and (max-width: 375px) {
      .container .btn2 {
        font-size: 2rem;
        margin-top: 0;
        padding: 10px 20px; } }
    @media screen and (max-width: 320px) {
      .container .btn2 {
        font-size: 1.8rem; } }
    .container .btn2 .fa-cloud-download-alt {
      margin-right: 15px;
      color: #fff; }
    .container .btn2:hover {
      background-image: linear-gradient(to bottom, #ecc811, #f29f13);
      border: solid 2px #e87409; }
      .container .btn2:hover .fa-cloud-download-alt {
        color: #fff; }
 
